body {
  width: 100%;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.96;
}

.content {
  position: fixed;
  left: 0;
  top: 0;
  width: 320px;
  background: #ffffff;
  min-height: 100vh;
  background: #ffffff;
  box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
    16px 0px 52px rgba(14, 24, 80, 0.2);
}

.header {
  width: 100%;
}

.header__list {
  padding: 23px 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  display: flex;
  width: 97px;
  height: 51px;
}

.header__item:nth-child(2) {
  padding-right: 70px;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #ff3e79;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* MAIN */
.nav {
  width: 100%;
  padding: 32px 24px;
}

.nav__slides {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}

.nav__slide {
  display: flex;
}

.nav__link {
  text-decoration: none;
  color: #1b1c21;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav__link:hover {
  color: #7e7e82;
}

.nav__link--active {
  color: #7e7e82;
  flex-direction: row;
}

.nav__link--active::before {
  color: #7e7e82;
  position: absolute;
  content: "";
  left: 0px;
  width: 4px;
  height: 40px;
  background-color: #41f6d7;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer__item {
  display: flex;
  flex-direction: row;
  column-gap: 16px;
}

.footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #ff3e79;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.footer__link-email {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.2px;

  color: #1b1c21;
}

.footer__link-email:active {
  color: #7e7e82;
}

.footer__link-email:hover {
  color: #7e7e82;
}

.footer__link-email:visited {
  color: #1b1c21;
}

.footer__link-phone {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  letter-spacing: -0.6px;

  color: #1b1c21;
}

.footer__link-phone:active {
  color: #7e7e82;
}

.footer__link-phone:hover {
  color: #7e7e82;
}

.footer__link-phone:visited {
  color: #1b1c21;
}

.footer__lang {
  font-family: "TT Lakes";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  letter-spacing: -0.2px;

  color: #1b1c21;
}

.footer__lang:active {
  color: #7e7e82;
}

.footer__lang:hover {
  color: #7e7e82;
}

.footer__lang:visited {
  color: #1b1c21;
}

.footer__lang:link {
  color: #1b1c21;
}

.footer__lang.footer__lang--active {
  color: #7e7e82;
}
