@media (min-width: 768px) {
  .body {
    width: 440px;
  }

  .header__list {
    flex-direction: row;
  }

  .header__item {
    justify-content: flex-start;
  }

  .header__btn {
    position: absolute;
    right: 473px;
  }
}
